
.guias{
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    color: black;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1%;
    /* background-color: beige; */
    /* box-shadow: 0 0 8px 2px black; */
    gap: 1vw;
}

/* -------------------card Main--------------------------------*/
.cardMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-top-left-radius: 2%;
    border-top-right-radius: 2%; */
    border-radius: 2%;
    padding: 1%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 50%;
    height: fit-content;
    background-color: beige;
    box-shadow: 0 0 8px 2px black;
}

.imgMain{
    border-radius: 2%;
    width: 100%;
    height: 54.5em;
}

.cardTextMain{
    width: 100%;
    color: black;
    font-size: 20px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.divider{
    border: 1px rgba(124, 124, 124, 0.644) solid;
    margin-bottom: 3%;
    width: 10%;
}

.cardVMMain {
    color: violet;
    border: 3px solid violet;
    font-size: larger;
    padding: 2%;
}

/* -------------Columna Galeria--------------- */

.galleryCard{
    width: 50%;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 2%;
    padding: 1%;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    width: 100%;
    height: 20em;
    background-color: beige;
    box-shadow: 0 0 8px 2px black;
}

.cardBody{
    width: 50%;
}

.cardImg{
    border-radius: 2%;
    border-bottom-left-radius: 85%;
    width: 50%;
    height: 100%;
}

.cardText{
    position: absolute;
    color: black;
    /* padding: 0.5%; */
}

.cardBtn{
    width: 50%;
    height: 19.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardVerMas{
    color: violet;
    font-size: larger;
    border: 3px solid violet;
    padding: 5%;
    width: fit-content;
    height: fit-content;
}

/* --------------------------Container 2------------------------------------------- */

.galleryVM{
    background-color: beige;
    /* min-height: 100vh;
    width: 100%; */
}

.h2{
    color: black;
    font-size: 24px;
    padding: 1rem 9%;
    font-weight: 300;
}

.contVideos{
    padding: 0 9%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
    padding-bottom: 3rem;
}

.cardVideos{
    color: black;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.videos{
    border: 3px solid black;
    box-shadow: 2px 2px 4px black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe{
    width: 100%;
    height: 100%;
}

.BtnVerMas{
    color: pink;
    background-color: rgba(0, 0, 0, 0.425);
    border: 3px solid black;
    padding: 1%;
    width: fit-content;
    height: fit-content;
    position: absolute;
}


@media screen and (max-width: 850px) {
        .container{
            flex-direction: column;
            align-items: center;
            margin: 0;
        }
        .cardMain{
            width: 90%;
        }
        .imgMain {
            height: 20em;
        }
        .galleryCard{
            width: 90%;
        }
        .card {
            width: 100%;
        }
}
