body {
  --black: #000000;
  --white: #fafafa;
  --green: #008000;

  --background: var(--purple);
  --accent: var(--white)
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    filter: drop-shadow(1px 1px 1px black);
    width: 55px;
    z-index: 10;
}

ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    float: right;
    top: 50px;
    width: 150px;
    gap: 10px;
    background: var(--accent);
  }

  li {
    text-align: left;
    display: block;
    transform-origin: -20px 50%;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 10px;
    /* height: 11em; */
}

button {
    -webkit-appearance: button;
    background: beige;
    color: var(--black);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button path {
    fill: var(--black);
  }

  .Free {
    color: magenta;
    text-shadow: -2px 0px 4px magenta;
    -webkit-text-stroke: mediumvioletred 0.8px;
    display: inline-block;
    transform: rotate(45deg);
}

  .navDesk{
    display: none;
  }
  .dropMob{
    display: none;
  }

@media screen and (max-width: 850px) {
    .dropDesk{
      display: none;
    }  
    .dropMob{
      display: flex;
    }
    button{
        width: 100%;
    }
    .navDesk{
      display: block;
    }
}
